body {
     background-color: rgb(210, 210, 210); 
     height:100vh;
 }

div.global{
    background-image: url(../img/McMasterBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    background-attachment: fixed;
    height:auto;
    width:inherit;
}

.banner{
    background-color: rgba(255, 255, 255, 0.4);
    position: relative;
    border: 4px solid #00f;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    color:#00f;
    height:auto;
    text-align: justify;
    text-justify: inter-word;
    padding:20px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 40px;
}

.trunk{
    position:relative;
    top: 10px;
    height:auto;
    margin-left: 10px;
    width: inherit;
}

#sidebar{
    background-color: rgba(255, 255, 255, 0.4);
    position: relative;
    border: 4px solid #00f;
    border-radius: 10px;
    float:left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4em;
    line-height: 1.4;
    height:auto;
    margin-top: 20px;
}

.title{
    position:relative;
    width:inherit;
    text-shadow: 2px 2px #000;
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3.50em;
    text-align: center;
    color: #66f;
    padding-top: 20px;
    padding-bottom: 10px;
}

.main{
    position:relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    color:#00f;
    height:auto;
    width:inherit;
    margin-left: 240px;
    text-align: justify;
    text-justify: inter-word;
    padding-left: 40px;
}

#circulation {
    position:fixed;
    padding: 20px;
    max-width: 1160px;
    height: 600px;
    left: 300px;
    top: 170px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    color: #00f;
    padding-bottom: 100px;
}

.bottom{
    position:relative;
    height: 50px;
    width: 800px;
}
 
ul {
    list-style: none;
}

ul li {
    margin-bottom: 20px;
}

div.video {
    position: relative;
    top:0px;
    left: 20px;
    float:left;
    width: 50%;
    max-width:600px;
    background-color: rgba(255, 255, 255, 0.4);
}
div.manual {
    position: relative;
    top:100px;
    left: 20px;
    float:left;
    width: 50%;
    max-width:600px;
    background-color: rgba(255, 255, 255, 0.4);
    font-size:1.4em;
    margin-bottom:150px;
}

div.rest{
    position: relative;
    margin-top:50px;
    margin-bottom: 50px;
    height:auto;
    min-height:80vh;
    width:inherit;
    padding-bottom:50px;
    margin-bottom: 50px;
}

table {
    position:relative;
    top:30px;
    border: 4px solid #00f;
    border-radius: 10px;
    text-align: justify;
    width: 350px;
    height: 400px;
    padding: 1em;
    margin-top: 20px;
     
}

p.min {
    line-height: 1px;
}

td {
    border: 2px solid #00f;
}

div.monitor {
    border: 4px solid #00f;
    background-color: #bbf;;
    border-radius: 10px;
    width: auto;
    height:auto;
    top: 0px;
    left: 20px;
    float:left;
    margin-right: 50px;
    padding:10px;
}

p.video {
    width: 200px;
    left: 350px;
}

div.comment {
    position:relative;
    left: 0px;
    top: 0px;
    max-width: 500px;
    width: inherit;
    height: 600px;
    font-size: 1.2em;
}

.parsons {
     background-color: white;
     border: 2px solid blue;
     width:400px;
     flow:left;
}

.bibliography {
    position:relative;
    left: 350px;
    top: 100px;
    font-size: 1.4em;
}

p {
    text-align: justify:
    text-justify: inter-word;
    margin-right: 50px;;
}

p.quote {
    background-color: white;
    border: 2px solid blue;
    left: 50px;
    width: inherit;
    max-width: 1100px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
    padding: 5px;
}

p.bio {
    position:relative;
    text-align: center;
    width: inherit;
    font-size: 1.2em;
    padding: 5px;
}

.sim{
    position:relative;
    left:0px;
    background-color: rgba(255, 255, 255, 0.4);

    }

.indent {
    padding: 20px;
    width:inherit;
    height:auto;
}

div.figure {
    float: right;
    width: 222px;
    margin: 15px 10px 5px 10px;
}

img.model {
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #666;
    padding: 10px;
}
img.figure {
    float:left;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #666;
    padding: 10px;
}

div.model {
    position:fixed;
    top: 300px;
}

button.simulate {
    position:inherit;
    left:12vw;
    border:#00f solid 2px;
    border-radius: 6px;
    width: 200px;
    height: 80px;
    height: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    color:white;
}

.ref {
    position: fixed;
    top: 860px;
    width:1200px;
}

.ref2 {
    position: relative;
    top: 30px;
    width:1100px;
    background-color: rgba(255, 255, 255, 0.4);    
}

.guy {
    position: relative;
    left:0px;
    text-align: center;
}

.vidRight{
    left:10px;
    position: relative;
    height:auto;
    top: 100px;
    width:inherit;
}

.white{
    position:relative;
    padding-top: 5px;
    padding-left:5px;
    background-color: rgba(255, 255, 255, 0.4);
}

